.card {
	transition: .5s ease;
	cursor: pointer;
	text-decoration: none !important;
}

/* .card:hover {
	box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, .9);
} */

.welcome-box {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.5)), url(./images/Hopper.jpg);

	background-size: cover;
	background-position: top;
	position: absolute;
	top: 0;
	filter: grayscale(100%) saturate(20%);
	height: 100vh;
	width: 100vw;
	transition: 10s ease;
	transition-delay: 500ms;
	box-sizing: border-box;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	padding: 5vh 0;
	z-index: -1;
}
